* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 40px; /* Adjust the max height to fit your design */
    margin-right: 10px; /* Add some spacing on the right side of the logo */
}

nav {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo {
    font-size: 24px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    background: #333;
}

.line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 3px 0;
}

.menu {
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    transition: right 0.3s;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

.close-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #333;
        color: #fff;
        transition: right 0.3s; /* Smoothly open the menu */
        padding: 20px 10px 0 10px; /* Add spacing and move the close icon to the top left */
    }
    
    .menu.active a {
        text-align: left; /* Adjust text alignment */
        margin: 10px 0; /* Add spacing between menu items */
    }
    
    .menu.active .close-icon {
        display: block;
        position: absolute; /* Position the close icon at the top left */
        top: 10px;
        left: 10px;
        font-family: 'Material Symbols Outlined', sans-serif;
        font-size: 24px; /* Adjust the font size as needed */
        color: #fff; /* Set the color of the close icon */
    }
}
