* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 40px;
    margin-right: 10px;
}

nav {
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo {
    font-size: 24px;
}

.link {
    color: rgb(255,255,255,0.75);
    transition: all 0.4s;
}

.link:hover {
    color: #fff;
}

.link::after {
    content: '';
    height: 2px;
    width: 100%;
    background: #cc5500;
    position: absolute;
    left: 0;
    bottom: -20px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.link:hover::after {
    opacity: 1;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    background: #333;
}

.line {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 3px 0;
}

.menu {
    display: flex;
    align-items: center;
    background: #333;
    color: #fff;
    transition: right 0.3s;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

.close-icon {
    display: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center; /* Center the text */
    padding: 10px 0;
    margin-top: auto; /* Push the footer to the bottom */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    max-width: 600px;
    margin-left: 25px;
    text-align: center; /* Center align the text within the box */
}

.content .textBox h2 {
    color: #333;
    font-size: 3.5em;
    line-height: 1.4em;
    font-weight: 500;
    margin-bottom: 20px;
}

.content .textBox h2 span {
    color: #65a3e7;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 30px; /* Increased the margin-top for "Learn More" button */
    padding: 10px 50px; /* Adjusted the padding to make the button less wide */
    background-color: #65a3e7;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center; /* Center the button text */
}

.content .textBox .learnmore {
    display: inline-block;
    margin-top: 30px; /* Increased margin to add space between buttons */
    margin-right: 20px; /* Added margin to the right of the "Learn More" button */
    padding: 10px 50px;
    background-color: #65a3e7;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.content .textBox .support-button {
    display: inline-block;
    margin-top: 30px; /* Increased margin to add space between buttons */
    padding: 10px 20px;
    background-color: #65a3e7;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.content .imgBox {
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
}

.worker {
    border-radius: 6px;
}

.chat-bot-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #65a3e7;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.chat-icon {
    width: 40px;
    height: 40px;
}

.chat-bot-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 400px;
    height: 500px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    z-index: 1;
    overflow-y: auto;
}

.chat-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: relative; /* Make the positioning relative for proper positioning of the close icon */
}

.chat-header span {
    position: absolute;
    right: 10px; /* Adjust this value to move the close icon more to the right */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.bot-message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
}

.user-message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    align-self: flex-end;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Add some spacing between option bubbles */
}

.option {
    background-color: #65a3e7;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #007BFF;
}

.language-dropdown {
    margin-left: 10px;
    margin-top: 10px; /* Adjust this margin as needed */
}

/* Style the language select element */
.language-select {
    font-size: 14px; /* Adjust the font size to make the button bigger */
    padding: 8px 10px; /* Adjust the padding for width and height */
    border: solid #333; /* Add a border for visual separation */
    border-radius: 4px; /* Add some border radius for rounded corners */
}

/* For Mobile Devices */
@media (max-width: 768px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    nav .menu {
        display: none;
    }

    .worker {
        max-width: 100%;
        max-height: 100%;
        width: 450px;
        height: 350px;
        margin-right: 35px;
        margin-top: 20px;
    }

    .menu-icon {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #333;
        color: #fff;
        transition: right 0.3s;
        padding: 20px 10px 0 10px;
    }

    .menu.active a {
        text-align: left;
        margin: 10px 0;
    }

    .menu.active .close-icon {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: 'Material Symbols Outlined', sans-serif;
        font-size: 24px;
        color: #fff;
    }

    .content {
        flex-direction: column; /* Stack elements on top of each other */
        align-items: center; /* Center align on smaller screens */
    }

    .content .textBox {
        max-width: 100%; /* Full width on smaller screens */
        text-align: center; /* Center align text on smaller screens */
        margin: 20px 0; /* Add more spacing to separate image and text */
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* For Tablets */
@media screen and (max-width: 900px) and (min-width: 481px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}